__pycache__/
*.pyc
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/
node_modules/
*.db
*.sqlite3
.DS_Store
dist/
build/
app/grpc_server/*_pb2.py
app/grpc_server/*_pb2_grpc.py
app/infrastructure/grpc_client/*_pb2.py
app/infrastructure/grpc_client/*_pb2_grpc.py
